@use "variables";
@use "colors.css";
// @use "transitions";
@use "primevue";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}


#app {
  min-height: 100dvh;
  width: 100%;
}

html:has(.face-id-page) {
  overflow: hidden;
}

.page-wrapper+.page-wrapper {
  position: absolute !important;
  inset: 0 !important;
}


::-webkit-scrollbar-track {
  background-color: color-mix(in srgb, var(--secondary-400), transparent 84%);
  border-radius: var(--radius-m);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--radius-m);
  background-color: var(--secondary-500);
}